.legend {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 166px;
    height: 166px;
    display: flex;
    border-radius: 50%;
    background-color: white;
    color: #74798C;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    

    span {
        font-size: 26px;
        color: black;
        font-weight: 700;
    }
}